<!DOCTYPE html>

<head>
  <title> Chat App </title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<!-- CSS -->
<style>
  body {
    font-family: Helvetica, Arial, sans-serif;
  }

</style>
</head>

<body>
  <h1>Chat App</h1>
  <h3>Posts</h3>
  <input id='message' type="text" placeholder="Whatever you want to say!" />
  <button id='submit'>Submit</button>
  <div>
    {% for message in messages %}
    <p>[{{message['ts'] }}] - {{ message['message'] }} </p>
    {% endfor %}
  </div>


</body>
